@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #4ccaf4;
}

.App {
  display: grid;
  grid-template-areas:
    'header header header header'
    '. search search .'
    '. list list filter'
    'footer footer footer footer';
  grid-column-gap: 15px;
}

.header {
  grid-area: header;
  font-weight: 600;
  font-size: 28px;
  margin: 15px;
  color: white;
  text-shadow: -1px -1px 0 #535353, 1px -1px 0 #535353, -1px 1px 0 #535353,
    1px 1px 0 #535353;
  height: 100px;
}

.searchbar {
  grid-area: search;
  display: grid;
  grid-template-columns: 1fr auto;
}

.oreo-list {
  grid-area: list;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 15px;
  margin-top: 25px;
}

.oreo {
  width: 200px;
  height: auto;
}

.filter {
  grid-area: filter;
  width: 250px;
  background: white;
  height: 500px;
  margin-top: 25px;
}

.footer {
  grid-area: footer;
  margin-top: 25px;
  background: rgb(184, 184, 184);
}
