.oreo-page {
  display: grid;
  grid-row-gap: 20px;
  font-size: 40px;
  grid-template-areas:
    'header header header'
    'picture info info'
    'reviews reviews reviews';
}

.info {
  grid-area: info;
}

.review-list {
  grid-area: reviews;
  height: 600px;
  width: 100%;
  background-color: white;
}
